[project]
	description = project management tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rajeev Shukla (rajeevshukla)
[access "refs/for/refs/*"]
	read = group user/Rajeev Shukla (rajeevshukla)
	push = group user/Rajeev Shukla (rajeevshukla)
	label-Code-Review = -2..+2 group user/Rajeev Shukla (rajeevshukla)
	label-Verified = -1..+1 group user/Rajeev Shukla (rajeevshukla)
	rebase = group user/Rajeev Shukla (rajeevshukla)
	removeReviewer = group user/Rajeev Shukla (rajeevshukla)
	submit = group user/Rajeev Shukla (rajeevshukla)
[access "refs/heads/*"]
	read = group user/Rajeev Shukla (rajeevshukla)
	create = group user/Rajeev Shukla (rajeevshukla)
	push = +force group user/Rajeev Shukla (rajeevshukla)
	pushMerge = group user/Rajeev Shukla (rajeevshukla)
[access "refs/tags/*"]
	push = +force group user/Rajeev Shukla (rajeevshukla)
	pushTag = group user/Rajeev Shukla (rajeevshukla)
	pushSignedTag = group user/Rajeev Shukla (rajeevshukla)
